div {
  --fontSize: 1.8rem;
  --fontBlockName: 2rem;
  --fontSizeSm: 1.2rem;
}

.bodySub3MainStyleContainer {
  background-image: url("../../../imges/BodyPartImges/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}

.bodySub3 {
  max-width: 1440px;
  flex-wrap: wrap;
  display: inline-block;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bodySub3part1 {
  color: #fff;
  flex-wrap: wrap;
  display: flex;
  font-size: var(--fontBlockName);
  padding-left: 4%;
  font-weight: bold;
  transform: translateX(-420%);
}

.bodySub3part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bodySub3part1._active {
  transform: translate(0px, 0px);
  transition: all 0.5s ease 0.2s;
}

.bodySub3part3._active1 {
  opacity: 1;
  transition: all calc(0.35s + 0.6s) ease calc(0.35s);
}
.bodySub3part3._active2 {
  opacity: 1;
  transition: all calc(0.35s + 0.6s) ease calc(0.35s + 0.4s);
}
.bodySub3part4._active1 {
  opacity: 1;
  transition: all calc(0.35s + 0.6s) ease calc(0.35s + 0.2s);
}
.bodySub3part4._active2 {
  opacity: 1;
  transition: all calc(0.35s + 0.6s) ease calc(0.35s + 0.6s);
}

.bodySub3part3 {
  display: flex;
  width: 100%;
  opacity: 0;
  padding: 30px 15%;
}
.bodySub3part4 {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  opacity: 0;
  padding: 30px 15%;
}
.bodySub3part5 {
  display: flex;
  min-width: 300px;
  /* min-height: 325px; */
  width: 65%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  opacity: 0.8;
  align-items: flex-end;
  padding: 40px 20px;
  justify-content: space-around;
}
.bodySub3part5._projectSpecificSocialNetwork {
  background-image: url("../../../imges/ProjectsPhotos/socialNetwork/profile.png");
  box-shadow: 22px 22px 18px rgb(255, 255, 255, 0.3);
}

.bodySub3part5._projectSpecificCards {
  background-image: url("../../../imges/ProjectsPhotos/Cards.JPG");
  box-shadow: 22px 22px 18px rgb(255, 255, 255, 0.3);
}

.bodySub3part5._projectSpecificToDo {
  background-image: url("../../../imges/ProjectsPhotos/todo.png");
  box-shadow: 22px 22px 18px rgb(255, 255, 255, 0.3);
}
.bodySub3part5._projectSpecificHomeworks {
  background-image: url("../../../imges/ProjectsPhotos/Homeworks.png");
  box-shadow: 22px 22px 18px rgba(61, 118, 239, 0.3);
}
.bodySub3part5:hover {
  opacity: 1;
  transition: all 0.35s ease-out;
  transition: all 0.15s ease-in;
}
.projectSocialNetworkText {
  color: #fff;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  text-align: left;
  line-height: 145%;
  opacity: 0.95;
  font-weight: 400;
  font-size: var(--fontSizeSm);
}
.projectSocialNetwork {
  display: flex;
  font-size: var(--fontSize);
  color: #fff;
  opacity: 0.95;
}

.buttonsStyleCode {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  height: 20%;
  min-width: 50px;
  width: 35%;
  background-color: #84ccff;
  border-radius: 8px;
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: none;
}

.buttonsStyleDemo {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  height: 20%;
  min-width: 50px;
  width: 35%;
  background-color: #62e96b;
  border-radius: 8px;
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: none;
}
.buttonsStyleCode:visited {
  color: black;
}
.buttonsStyleDemo:visited {
  color: black;
}
.buttonsContainer {
  padding: 0px 70px;
  width: 45%;
}
.buttonsStyleCode:hover {
  transform: translateY(-2px);
  box-shadow: 6px 6px 4px rgba(79, 81, 80, 0.127);
  transition: 0.25s ease-out;
  opacity: 1;
  background-color: #2b8ed0;
  color: #fff;
}
.buttonsStyleDemo:hover {
  transform: translateY(-2px);
  box-shadow: 6px 6px 4px rgba(79, 81, 80, 0.127);
  transition: 0.25s ease-out;
  opacity: 1;
  background-color: #2e7d32;
  color: #fff;
}

@media screen and (max-width: 1440px) {
  .bodySub3part3._active1 {
    transition: none;
  }
  .bodySub3part3._active2 {
    transition: none;
  }
  .bodySub3part4._active1 {
    transition: none;
  }
  .bodySub3part4._active2 {
    transition: none;
  }
  .bodySub3part3 {
    transition: none;
    padding: 15px 5%;
  }
  .bodySub3part4 {
    transition: none;
    padding: 15px 5%;
  }
  .bodySub3part5 {
    width: 65%;
    border-radius: 10px;
  }
}

@media screen and (max-width: 1080px) {
  .buttonsContainer {
    padding: 0px 30px;
    width: 40%;
  }
  .bodySub3part3 {
    padding: 30px auto;
  }
  .bodySub3part4 {
    padding: 30px auto;
  }
  .bodySub3part5 {
    width: 70%;
  }
}

@media screen and (max-width: 890px) {
  .projectSocialNetwork {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 780px) {
  .buttonsContainer {
    padding: 0px 10px;
    width: 40%;
  }
  .bodySub3part1 {
    font-size: 1.5rem;
  }
  .projectSocialNetwork {
    font-size: 1.1rem;
  }
  .projectSocialNetworkText {
    font-size: 0.9rem;
  }
  .buttonsStyleCode {
    height: 30%;
    width: 40%;
  }
  .buttonsStyleDemo {
    height: 30%;
    width: 40%;
  }
}

@media screen and (max-width: 580px) {
  .bodySub3part3 {
    display: flex;
    width: 100%;
    opacity: 0;
    padding: 20px 15px;
    flex-direction: column;
  }
  .bodySub3part4 {
    display: flex;
    width: 100%;
    opacity: 0;
    padding: 20px 15px;
    flex-direction: column-reverse;
  }
  .buttonsContainer {
    padding: 0px 10px;
    width: 100%;
  }
  .projectSocialNetwork {
    font-size: 1.3rem;
  }
  .projectSocialNetworkText {
    display: none;
  }
  .buttonsStyleCode {
    height: 55%;
    min-height: 45px;
    width: 40%;
  }
  .buttonsStyleDemo {
    height: 55%;
    min-height: 45px;
    width: 40%;
  }
  .bodySub3part5 {
    width: 100%;
    min-height: 250px;
  }
}
