.bodyMainStyleWrapper {
  display: flex;
  flex-direction: column;
}

.lazyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #0F1A27;
}
.ring {
  z-index: 30;
  fill: #fff;
  width: 55px;
}
