a:hover {
    transform: scale(1.07);
    transition: all 0.3s ease-in-out;
}

a::before {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.active {
    transform: scale(1);
    opacity: 1;
    transition: all 0.3s;
}

.FooterStyleContainer {
    background-color: #0F1A27;
    display: flex;
    height: 45vh;
    align-items: flex-end;
    justify-content: flex-end;
}

.Footer {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    width: 100%;
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
}

.FooterPart1 {
    position: relative;
    display: flex;
    margin-top: -3%;
    color:#fff;
    opacity: 0.96;
    font-size: 50px;
    font-weight: 400;
}

.FooterPart2 {
    display: flex;
    min-width: 200px;
    max-width: 1440px;
    max-height: 200px;
    min-height: 30px;
    width: 45%;
    height: 25%;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: -3%;
}
.FooterPart3 {
    display: flex;
    width: 100%;
    color:#fff;
    font-size: 26px;
    gap: 30px;
    justify-content: space-between;
}
.FooterPart3_1 {
    display: flex;
    color:#fff;
    text-align: left;
    line-height: 160%;
}

.FooterPart5 {
    display: flex;
    border-radius: 16px;
    height: 100%;
    width: 14%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.FooterPart51 {
    display: flex;
    border-radius: 16px;
    height: 100%;
    width: 14%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.FooterPart6 {
    display: flex;
    border-radius: 16px;
    height: 100%;
    width: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transform: scale(1);
}
.FooterPart61 {
    display: flex;
    border-radius: 16px;
    height: 80%;
    width: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transform: scale(1);
    background: #fff;
    fill: red;
}
.FooterPart62 {
    display: flex;
    border-radius: 16px;
    height: 95%;
    width: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transform: scale(1);
    background: #fff;
    fill: red;
}

@media screen and (max-width: 1440px) {
    .FooterPart3 {
        margin-left: 0;
        font-size: 18px;
    }
    .FooterPart2 {
        width: 70%;
    }
    .FooterPart2 a {
        width: 80px;
    }
    .FooterPart5 {
        min-width: 40px;
        min-height: 40px;
    } 
    .FooterPart7 {
        width: 10%;
    } 
}

@media screen and (max-width: 1180px) {
    .Footer {
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        width: 100%;
        height: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 2%;
    }

    .FooterPart1 {
        display: flex;
        width: auto;
        margin: -3% auto;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .FooterPart2 {
        margin-top: 2%;
        min-width: 285px;
        min-height: 50px;
        width: 100%;
    }
    .FooterPart3 {
        font-size: 16px;
    }
}
@media screen and (max-width: 980px) {
    .FooterPart3 span {
        font-size: 12px;
    }
    .FooterPart3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 860px) {
    .FooterPart2 {
        margin-top: 5%;
        width: 80%;
    }
    .FooterPart51 {
        display: none;
    } 
    .FooterPart5 {
        width: 60px;
        height: 60px;
    }
    .FooterPart6 {
        width: 60px;
        height: 60px;
    }
    .FooterPart3 span {
        display: none;
    }
}