.FooterStyleContainer {
    background-color: darkslategrey;
    display: flex;
    height: 50vh;
    align-items: flex-end;
    justify-content: flex-end;
}

.Footer {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    width: 100%;
    height: 70%;
    border: 3px solid red;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
}

.FooterPart1 {
    display: flex;
    width: auto;
    height: 15%;
    border: 1px solid blue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orangered;
    margin: 0;
}

.FooterPart2 {
    display: flex;
    background-color: #54464b;
    min-width: 200px;
    max-width: 1200px;
    max-height: 200px;
    min-height: 30px;
    width: 45%;
    height: 25%;
    border: 3px solid red;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.FooterPart3 {
    display: flex;
    background-color: blueviolet;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.FooterPart5 {
    display: flex;
    background-color: blue;
    border: 1px solid orangered;
    height: 100%;
    width: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .Footer {
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        width: 100%;
        height: 80%;
        border: 3px solid red;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 2%;
    }

    .FooterPart1 {
        display: flex;
        width: auto;
        margin: 0 auto;
        height: auto;
        border: 1px solid blue;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: orangered;
    }
    .FooterPart2 {
        min-width: 285px;
        min-height: 50px;
    }
    .FooterPart3 {
        font-size: 15px;
    }
    .FooterPart5 {
        min-width: 40px;
        min-height: 40px;

    }
}