.headerModuleStyle {
    height: 80px;
    background-color: #cfeaff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.headerStyle {
    display: flex;
    position: absolute;
    left: 15px;
    top: 10px;
}

.headerStyleBar {
    text-decoration: none;
    justify-content: space-between;
    font-size: 18px;
}
.headerStyleBarWrapper {
    position: relative;
    flex-wrap: wrap;
    order: -1;
    border: 1px solid red;
    width: 30%;
    max-width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 10%;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 1200px) {
    .headerModuleStyle {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
    }
    .headerStyleBarWrapper {
        width: 100%;
        align-items: center;
        display: flex;
        right: 0%;
        font-size: 1.2em;
        letter-spacing: 0.1em;
    }
}