.headerModuleStyle {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 135;
    opacity: 1;
}
.headerStyle {
    display: flex;
    position: absolute;
    left: 15px;
    top: 10px;
}

.headerStyleBar {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    color: black;
    font-weight: 800;
    background-color: white;
    width: 34%;
    height: 40px;
    box-shadow: 0px 3px 0px;
}

.headerStyleBar :hover {
    background-color: rgba(237, 237, 237, 0.89);
    box-shadow: 0px 3px 0px rgba(237, 237, 237, 0.89);
    transition: 0.25s ease-out;
}

.headerStyleBarWrapper {
    position: relative;
    flex-wrap: wrap;
    order: -1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 1440px) {
    .headerModuleStyle {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
    }
    .headerStyleBarWrapper {
        max-width: 100%;
        align-items: center;
        display: flex;
        right: 0%;
        font-size: 1.2em;
        letter-spacing: 0.1em;
    }
    .headerStyleBar {
        font-size: 0.7rem;
        width: 50%;
    }
}
@media screen and (max-width: 770px) {
    .headerStyleBar {
        font-size: 0.8rem;
        width: 100%;
        margin-top: 20px;
    }
}