@font-face {
  font-family: "Bodoni";
  src: url("../../../fonts/Bodoni.woff2") format("woff2"),
    url("../../../fonts/Bodoni.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.sectionName {
  background-color: #eeeeee;
  display: flex;
  min-height: 100vh;
  justify-content: center;
}
.sectionName h {
  /* left: 15px; */
}

.container {
  padding: 100px;
  display: flex;
  height: 100%;
  max-width: 1440px;
  align-items: center;
  justify-content: center;
}

.container__mainPicture {
  display: flex;
  height: 700px;
  width: 500px;
  object-fit: contain;
}
.container__aboutDescription {
  padding-left: 60px;
  word-wrap: break-word;
  display: flex;
  height: 700px;
  width: 720px;
  flex-direction: column;
  justify-content: space-around;
}
.bodySub5part1 {
  flex-wrap: wrap;
  display: flex;
  color: black;
  font-weight: bold;
  transform: translateX(-420%);
  opacity: 0;
  font-size: 2rem;
  transition: all 0.5s ease 0s;
  
}
.bodySub5part1._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.4s ease 0.2s;
  /* padding-left: 7%; */
}
.bodySub5part2 {
  display: flex;
  width: 50%;
  height: 40%;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.description {
  display: flex;
  flex-direction: column;
  font-family: "Bodoni", arial;
  text-shadow: 8px 8px 8px #aaa;
  font-size: 52px;
  text-align: left;
}

.container__past {
  word-wrap: break-word;
  letter-spacing: 1px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.description__past__points {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}

.description__text {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  font-size: 26px;
  line-height: 150%;
  text-shadow: 4px 4px 4px #aaa;
}

@media screen and (max-width: 1440px) {
  .description {
    font-size: 36px;
  }
  .description__text {
    font-size: 18px;
  }
}
@media screen and (max-width: 1080px) {
  .container__aboutDescription {
    width: 600px;
  }
  .container__aboutDescription {
    padding-left: 25px;
  }
  .container__mainPicture {
    height: 550px;
    width: 400px;
  }
  .description {
    font-size: 36px;
  }
  .description__text {
    font-size: 18px;
  }
}
@media screen and (max-width: 920px) {
  .container__aboutDescription {
    width: 450px;
    height: 400px;
  }
  .container__aboutDescription {
    padding-left: 15px;
  }
  .container__mainPicture {
    height: 550px;
    width: 350px;
  }
  .description {
    font-size: 26px;
  }
  .description__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 780px) {
  .container__aboutDescription {
    padding-left: 0px;
  }
  .container__mainPicture {
    height: 450px;
    width: 350px;
  }
  .description {
    font-size: 20px;
  }
  .description__text {
    font-size: 10px;
  }
}

@media screen and (max-width: 630px) {
  .container__aboutDescription {
    width: 400px;
    height: 400px;
  }
  .container__mainPicture {
    height: 350px;
    width: 250px;
  }
  .description {
    font-size: 16px;
  }
}

@media screen and (max-width: 540px) {
  .container__aboutDescription {
    width: 400px;
    height: 200px;
  }
  .container__mainPicture {
    height: 250px;
    width: 200px;
  }
  .description {
    font-size: 14px;
  }
  .description__text {
    font-size: 10px;
  }
}

@media screen and (max-width: 460px) {
  .container__aboutDescription {
    width: 350px;
    height: 200px;
  }
  .container__mainPicture {
    height: 200px;
    width: 150px;
  }
  .description {
    font-size: 10px;
  }
  .description__text {
    font-size: 8px;
  }
}

@media screen and (max-width: 380px) {
  .container__aboutDescription {
    width: 300px;
    height: 200px;
  }
  .container__mainPicture {
    height: 200px;
    width: 150px;
  }
  .description {
    font-size: 8px;
  }
  .description__text {
    font-size: 6px;
  }
}
