.bodySub5MainStyleContainer {
    background-color: #eeeeee;
    display: flex;
    height: 100vh;
    align-items: center;
  }
  
  .bodySub5 {
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    height: 80%;
    width: 100%;
    border: 3px solid red;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .bodySub5part1 {
    display: flex;
    height: 30px;
    align-content: center;
    justify-content: center;
    border: 1px solid orangered;
    font-weight: bold;
    flex-direction: column;
  }
  
  .bodySub5part2 {
    flex-wrap: wrap;
    display: flex;
    width: 50%;
    height: 40%;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .bodySub5part3 {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-direction: column;
  }
  
  .bodySub5part6 {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 80%;
    width: 100%;
  }
  
  .bodySub5part5 {
    width: 100%;
    display: flex;
    height: 100%;
    font-size: 1em;
  }
  
  .bodySub5part8 {
    display: flex;
    align-items: flex-end;
    justify-items: flex-end;
    width: 100%;
    height: 80%;
    margin: 10px 5px 5px 5px;
  }
  
  .bodySub5part9 {
    flex-wrap: wrap;
    display: flex;
    font-size: 1em;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5px;
  }
  
  .bodySub5part10 {
    flex-wrap: wrap;
    display: flex;
    font-size: 1em;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .bodySub5part11 {
    flex-wrap: wrap;
    font-family: Roboto;
    display: flex;
    font-size: 1em;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .bodySub5part15 {
    flex-wrap: wrap;
    display: flex;
    font-size: 1em;
    height: 10%;
    max-height: 40px;
    width: 10%;
    max-width: 80px;
    align-items: center;
    justify-content: center;
    background-color: red;
    font-weight: bold;
  }
  
  .bodySub5part1 {
    display: flex;
    background-color: red;
    margin: 0;
  }
  
  @media screen and (max-width: 1080px) {
    .bodySub5 {
      flex-wrap: wrap;
      font-size: 1.2em;
      align-items: center;
      width: 80%;
      justify-content: space-around;
    }
  
    .bodySub5part10 {
      flex-wrap: wrap;
      font-size: 1.2em;
      display: flex;
    }
  
    .bodySub5part2 {
      width: 100%;
      height: 60%;
      align-items: center;
      flex-direction: column;
    }
  
    .bodySub5part9 {
      display: flex;
    }
  
    .bodySub5part8 {
      height: 50%;
    }
  
    .bodySub5part6 {
      display: flex;
    }
  
    .bodySub5part15 {
      font-size: 12px;
      padding-top: 5px;
      background-color: orangered;
      border-radius: 5px;
      min-width: 80px;
      min-height: 30px;
      font-weight: bold;
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .bodySub5part9 {
      width: 97%;
    }
    
    .bodySub5 {
      justify-content: space-between;
    }
  }