.bodySub2MainStyleContainer {
  background-color: #eeeeee;
  /* display: flex; */
  min-height: 1080px;
  /* min-width: 100vw; */
  justify-content: center;
  align-items: center;
  /* padding: auto 100px; */
  /* border: 1px solid red; */
  /* max-width: 1440px; */
}

.bodySub2 {
  padding-top: 3%;
  flex-wrap: wrap;
  display: flex;
  /* display: flex; */
  display: inline-block;
  /* border: 2px solid blue; */
  max-width: 1440px;
  /* height: 100%; */
  width: 100%;
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 100%;
  width: 100%; */
  /* height: 100%; */
}

.bodySub2part1 {
  flex-wrap: wrap;
  display: flex;
  padding-left: 4%;
  color: black;
  font-weight: bold;
  transform: translateX(-420%);
  opacity: 0;
  font-size: 2rem;
  transition: all 0.5s ease 0s;
}

.bodySub2part1._active {
  transform: translate(0px, 0px);
  opacity: 1;
  transition: all 0.4s ease 0.2s;
}

.bodySub2part2 {
  flex-wrap: wrap;
  display: flex;
  /* height: 100%; */
  /* width: 100%;
  height: 70%; */
  justify-content: space-between;
  font-weight: bold;
}

.bodySub2part3 {
  padding-top: 7%;
  flex-wrap: wrap;
  height: 50%;
  max-height: 55%;
  width: 100%;
  /* width: 100%; */
  display: flex;
  /* width: 100vw; */
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.bodySub2part3_1 {
  padding-top: 7%;
  flex-wrap: wrap;
  height: 50%;
  width: 100%;
  max-height: 55%;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.bodySub2part4Container {
  margin: 0;
  padding: 0;
  display: flex;
}

.skillsContainer {
  /* border: 1px solid red; */
  /* height: 20%; */
  /* margin-top: -10%; */
  padding: 5% 0px;
  font-size: 1.5em;
  font-weight: 500;
}

.animationSkillsJS {
  /* position: relative;
  margin-top: -5%; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 12.5%;
  transform: translate(-120%);
  opacity: 0;
  transform: scale(1.2);
  transition: all 0.5s ease 0s;
}
.animationSkillsJS._activeHTML {
  transform: translate(0%, 0px);
  opacity: 1;
  transition: all calc(0.35s + 0.8s) ease calc(0.35s + 0.6s);
}
.animationSkillsJS._activeCSS {
  transform: translate(0%, 0px);
  opacity: 1;
  transition: all calc(0.35s + 0.8s) ease calc(0.35s + 0.8s);
}
.animationSkillsJS._activeJS {
  transform: translate(0%, 0px);
  opacity: 1;
  transition: all calc(0.35s + 0.8s) ease calc(0.35s + 0.8s);
}
.animationSkillsJS._activeTS {
  transform: translate(0%, 0px);
  opacity: 1;
  transition: calc(0.35s + 0.8s) ease calc(0.35s + 0.8s);
}
.animationSkillsJS._activeREACT {
  transform: translate(0%, 0px);
  opacity: 1;
  transition: calc(1s + 0.35s) ease calc(1s + 0.35s);
}
.animationSkillsJS._activeREDUX {
  transform: translate(0%, 0px);
  opacity: 1;
  transition: calc(1s + 0.35s) ease calc(1s + 0.35s);
}

.animationSkillsHTML {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 12.5%;
  transform: translate(-120%);
  opacity: 0;
  transform: scale(1.2);
  transition: all 0.5s ease 0s;
}

.animationSkillsHTML._activeHTML {
  transform: translate(0%, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.6s;
}

.animationSkillsHTML._activeCSS {
  transform: translate(0%, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.8s;
}
.animationSkillsHTML._activeJS {
  transform: translate(0%, 0px);
  opacity: 1;
  transition: all 0.8s ease 0.8s;
}
.animationSkillsHTML._activeGIT {
  transform: translate(0%, 0px);
  opacity: 1;
  transition: 1s ease 0.8s;
}
.animationSkillsHTML._activeGULP {
  transform: translate(0%, 0px);
  opacity: 1;
  transition: 1s ease 1s;
}
.animationSkillsHTML._activeTS {
  transform: translate(0%, 0px);
  opacity: 1;
  transition: 1s ease 1s;
}
.animationSkillsHTML._activeReact {
  transform: translate(0%, 0px);
  opacity: 1;
  transition: 1s ease 1s;
}
.animationSkillsHTML._activeRedux {
  transform: translate(0%, 0px);
  opacity: 1;
  transition: 1s ease 1s;
}

.bodySub2part4PictureLeft1 {
  flex-wrap: wrap;
  display: flex;
  border-radius: 10%;
  max-width: 70%;
  min-height: 120px;
  max-height: 120px;
  width: 70%;
  min-width: 50px;
  object-fit: contain;
}

@media screen and (max-width: 1440px) {
  .animationSkillsHTML {
    transition: none;
  }
  .bodySub2MainStyleContainer {
    min-height: 840px;
  }
  .bodySub2 {
    padding-top: 2%;
  }
  .bodySub2part3_1 {
    padding-top: 100px;
  }
}

@media screen and (max-width: 1180px) {
  .bodySub2MainStyleContainer {
    min-height: 740px;
  }
  .bodySub2 {
    padding-top: 5%;
  }
  .bodySub2part3 {
    padding-top: 5%;
  }
  .bodySub2part3_1 {
    padding-top: 5%;
  }
  .animationSkillsHTML {
    width: 16%;
    min-height: 200px;
  }
  .animationSkillsJS {
    width: 16%;
    min-height: 200px;
  }
  .bodySub2part4PictureLeft1 {
    min-height: 120px;
  }
  .skillsContainer {
    font-size: 1.2em;
    font-weight: 500;
  }
}
@media screen and (max-width: 780px) {
  
  .bodySub2part1 {
    font-size: 1.5rem;
  }
  .bodySub2part3 {
    padding-top: 0px;
  }
  .bodySub2part3_1 {
    padding-top: 0px;
  }
  .animationSkillsHTML {
    width: 30%;
  }
  .animationSkillsJS {
    width: 30%;
  }
  .bodySub2part3_1 {
    padding-top: 50px;
  }
}

@media screen and (max-width: 580px) {
  .bodySub2 {
    padding-top: 10%;
  }
  .bodySub2part3_1 {
    padding-top: 0px;
  }
  .bodySub2part4PictureLeft1 {
    max-height: 80px;
    min-height: 80px;
  }
}
@media screen and (max-width: 420px) {
  .animationSkillsHTML {
  }
  .skillsContainer {
    font-size: 1em;
    font-weight: 500;
  }
}
