.container {
  /* border: 1px solid red; */
  display: flex;
  width: 100%;
  padding: 2% 0px;
  /* margin-top: -10%; */
  justify-content: center;
}

.container__emptyStars {
  width: 50%;
  flex-direction: row;
  display: flex;
  z-index: 0;
}
.container__solidStars {
  margin-left: -50%;
  width: 50%;
  flex-direction: row;
  display: flex;
  z-index: 10;
}

@media screen and (max-width: 640px) {
  .container {
    margin-top: -5%;
  }
}

@media screen and (max-width: 580px) {
  .container {
    margin-top: -5%;
  }
}
